.modalContainer > div > div {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-width: 736px;
  position: relative;
  height: 520px;
  transition: height 0.5s ease-in-out;
}

.modalContainer.alreadyHaveAccount > div > div {
  height: 460px;
}
.modalHeader {
  height: 50px;
  background: #effff4;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: center;

  color: #008a45;
  border-radius: 8px 8px 0px 0px;
  border: 0 !important;
}
.modalBody {
  border: 0;
  padding: 36px !important;
  padding-top: 24px !important;
}
.modalTitle {
  font-size: 14px !important;
  width: 100%;
}
.modalMainHeader {
  font-family: "IBM Plex Sans";
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.modalMainHeader > div:nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: right;
  color: #000000;
}
.modalMainHeader > div:nth-child(2) {
  font-size: 13px;
  line-height: 17px;
  text-align: right;
  color: #3d3d3d;
}
.modalMainHeader > div:nth-child(2) span {
  font-weight: 600;
  cursor: pointer;
  color: #2f6ce5;
}
.privacyPolicy.mobileView {
  display: none;
}
.privacyPolicy {
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.008em;
  color: #000000;
  opacity: 0.6;
  margin-top: 12px !important;
  width: 100%;
  margin-left: 0 !important;
}
.closeButton {
  width: 23.33px;
  height: 23.33px;
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
  right: -14px;
  top: -34px;
}
.mobileCloseButton {
  display: none;
}
@media (max-width: 1000px) {
  .modalContainer {
    display: flex !important;
    justify-content: center;
  }
  .modalContainer > div {
    max-width: none;
  }
  .modalContainer > div > div {
    height: 500px;
  }
}
@media (max-width: 840px) {
  .modalContainer {
    zoom: 0.8;
  }
}
@media (max-width: 680px) {
  .modalContainer {
    zoom: 0.75;
  }
}
@media (max-width: 640px) {
  .modalHeader,
  .modalMainHeader div:nth-child(2) {
    display: none !important;
  }
  .modalMainHeader {
    font-size: 18px;
    line-height: 23px;
  }
  .mobileView,
  .privacyPolicy.mobileView {
    display: block;
  }
  .displayNone {
    display: none !important;
  }
  .modalContainer {
    zoom: 1;
    overflow: hidden !important;
  }
  .modalContainer > div {
    align-items: flex-end;
    min-height: calc(100% + 2rem);
    width: 100%;
    margin: 0;
  }
  .modalContainer > div > div {
    border: 2px solid white;
    border-top: 0;
    height: 0px;
    min-width: auto;
    border-radius: 8px !important;
  }
  .mobileCloseButton {
    display: inline;
    opacity: 0.8;
  }
  .privacyPolicy {
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.008em;
    color: #212529;
  }
  .height > div > div {
    height: 550px;
  }
}
