.authForm > div:nth-child(1) > div {
  padding: 0 !important;
}
.authForm > div:nth-child(1) > div,
.authForm > div:nth-child(1) > div input {
  border-radius: 2px 2px 0px 0px;
}
.authForm > div:nth-child(4),
.authForm > div:nth-child(4) input {
  border-radius: 0px 0px 2px 2px;
}
.authForm {
  width: 320px;
  padding-left: 10px !important;
}
.authForm input {
  width: 100%;
  height: 45px;
  background: #f7f8fa;
  padding: 15px 12px;
  box-sizing: border-box;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #8a8a8a;
  border: 1px solid #d9d9db;
}
.authForm input:focus {
  outline: 0;
}
.password input {
  border: 0;
  width: 86%;
}
.password {
  border: 1px solid #d9d9db;
  display: flex;
  background: #f7f8fa;
  flex-direction: row;
  justify-content: space-between;
}
.password img {
  width: 40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
  object-fit: contain;
}
.password img:active {
  opacity: 0.7;
}
.authFormActions {
  font-size: 14px;
  line-height: 16px;
  margin-top: 19px;
}

.authFormActions > div {
  padding: 0;
}
.authFormActions > div {
  margin-bottom: 24px;
}
.thirdPartyServices button {
  background: #ffffff;
  border: 0.6px solid #d9d9db;
  height: 38px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  border-radius: 2px;
  color: black;
}
.authFormActions > div:nth-child(1) button {
  font-weight: 500;
  height: 40px;
  text-align: center;
  background: #2f6ce5 !important;
  border-radius: 20px;
  color: #ffffff;
}
.thirdPartyServices {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.thirdPartyServices img {
  width: 16px;
  object-fit: contain;
  margin-right: 7px;
}
.forgotPassword {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin-top: 23px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: -0.008em;
  color: #000000;
}
.toggleLoginState div {
  display: none;
}
.toggleLoginState {
  display: none;
}

@media (max-width: 640px) {
  .authForm {
    width: auto;
    padding: 0 10px !important;
  }
  .mobileView {
    display: block;
  }
  .authFormActions > div:nth-child(1) {
    display: none;
  }
  .toggleLoginState div {
    display: block;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;
    color: #495057;
  }
  .toggleLoginState {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px -10px !important;
  }
  .toggleLoginState button {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    width: 50%;
    background: #2f6ce5 !important;
    border-radius: 20px !important;
    padding: 10px 28px !important;
  }
}
@media (max-width: 378px) {
  .password input {
    width: 85%;
  }
  .toggleLoginState button {
    padding: 10px !important;
  }
}
@media (max-width: 340px) {
  .password input {
    width: 83%;
  }
}
